{% extends 'base.html' %}

{% block content %}
<h2>Overview</h2>
<div class="row">
	<div class="col-md-3 col-sm-12">
		<h3>About</h3>
		<p>
		This page gives you a brief overview of the current status of the trainees. Please note the following:
		</p>
		<ul>
			<li>Only jobs created in the last 3 hours are shown</li>
			<li>This includes jobs they run outside of the context of the course (as we cannot tell which are which.)</li>
			<li>The username is essentially random but will be consistent within a one day period</li>
		</ul>
		<h3>State Overview</h3>
		<table class="table">
			<thead>
				<tr>
					<th>State</th>
					<th>Count</th>
				</tr>
			</thead>
			{% for state, count  in state_summary.items() %}
				<tr>
					<td>{{ state }}</td>
					<td>{{ count }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<div class="col-md-9 col-sm-12">
		<h3>Overview by Tool</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Tool</th>
					<th>New</th>
					<th>Queued</th>
					<th>Running</th>
					<th>Ok</th>
					<th>Error</th>
				</tr>
			</thead>
			{% for tool, states in job_summary.items() %}
				<tr>
					<td>{{ tool }}</td>
					<td>{{ states.new }}</td>
					<td>{{ states.queued }}</td>
					<td>{{ states.running }}</td>
					<td>{{ states.ok }}</td>
					<td>{{ states.error }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>

<h2>Queue</h2>
<table class="table">
	<thead>
		<tr>
			<th>User</th>
			<th>Created</th>
			<th>Tool</th>
			<th>State</th>
			<th>Job Runner ID</th>
		</tr>
	</thead>
	{% for row in jobs %}
		<tr>
			<td class="dataset" style="background: #{{ row.user_id[0:6] }}">{{ row.user_id[0:6] }}</td>
			<td class="dataset state-{{row.state}}">{{ row.create_time }}</td>
			<td class="dataset state-{{row.state}}">{{ row.tool_id }}</td>
			<td class="dataset state-{{row.state}}">{{ row.state }}</td>
			<td class="dataset state-{{row.state}}">{{ row.job_runner_external_id}}</td>
		</tr>
	{% endfor %}
</table>

{% endblock %}
